body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.mainContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 50px auto;
    grid-template-areas: 
    "top top top"
    "left canvas right";
}

.topNav {
    grid-area: top;
    background-color: aqua;
}

.leftNav {
    grid-area: left;
    background-color: aquamarine;
}

.rightNav {
    grid-area: right;
    background-color: blanchedalmond;
}

.canvasContainer {
    grid-area: canvas;
}

#canvas {
    border: 1px black solid;
    height: 100%;
    width: 100%;
}